.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #ea8467;
  background-image: url('assets/fondo-calculadora.jpg');
  background-repeat : no-repeat;
  background-size : cover;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contenedor-calculadora{
  width: 370px;
  height: auto;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 20px;
}
.fila{
  display: flex;
  align-items: center;
  justify-content: center;
}